nav ul a.active {
  background-color: #f1f1f3;
  font-weight: 600;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 10%;
}

button .active {
  background-color: #ff9500;
  color: white;
  font-weight: 600;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 34px;
  padding-right: 34px;
  border-radius: 10%;
}

body {
  background-color: #f7f7f8;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  max-width: 1860px;
}

//Main title

.title-word {
  animation: color-animation 5s linear infinite;
}

.title-word-1 {
  --color-1: #df8453;
  --color-2: #3d8dae;
  --color-3: #e4a9a8;
}

.title-word-2 {
  --color-1: #dbad4a;
  --color-2: #accfcb;
  --color-3: #17494d;
}

.title-word-3 {
  --color-1: #accfcb;
  --color-2: #e4a9a8;
  --color-3: #accfcb;
}

.title-word-4 {
  --color-1: #3d8dae;
  --color-2: #df8453;
  --color-3: #e4a9a8;
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}

.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}
$colors: (fill: #ff9500);
